h1{
  font-style: italic;
}
h1, h2{
  text-align: center;
  color: white;
}

div{
  text-align: center;
  font-size: 50px;
}
button{
  background-color: red;
  color: white;
  font-size: 40px;
  margin-top: 10px;
}
.deadPoolx{
  height:100%;
  width: 100%;
}

.bigBox{
  background: orange;
  border: 1px solid black;
  height:500px;
  width:500px;
}
.box{
  height: 32.12%;
  width: 32.12%;
  border: 3px solid black;
  float: left;
  display: inline-block;
}
}

}
body:onload{
  startGame();
  }
 body{
   background-color: rgb( 30,70 ,100);

 }

.player{
  color: white;
}

.red {
  color: red;
}

ul{
  text-decoration: none;
  text-align: center;
  list-style: none;
  font-size: 25px;
  color: white;

}
#message{
  padding-top: 40px;
  font-size: 50px;
  color:white;
}


.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

